Mutual information is the measure of the amount of information between two random variables is symmetric and non-negative, and it could be zero if and only if the variables are independent. 

Mutual information is a NP hard optimization problem in computer science branch. The best approach which we in general follow is greedy solution for feature selection. Those approaches are step-wise forward feature selection or step-wise backward feature selection. 

If there is any mutual gain in the classification, then we keep the feature else we remove the feature.

In [74]:
import numpy as npp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

from sklearn.feature_selection import VarianceThreshold, mutual_info_classif
from sklearn.feature_selection import SelectKBest, SelectPercentile

In [38]:
train = pd.read_csv("C:/Users/zenit/Desktop/Sahal backup/Northeastern University/Datasets/Santander/train.csv")

In [39]:
train.head(5)

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [40]:
train['ID_code'] = train['ID_code'].str.split("_", expand = True)[1]
train.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [41]:
X = train.drop('target', axis = 1)
y = train['target']

X.shape, y.shape

((200000, 201), (200000,))

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1, stratify = y)

In [43]:
X_train.shape

(160000, 201)

In [44]:
X_test.shape

(40000, 201)

### Remove constant, quasi constant and duplicate features

In [49]:
#X_train = X_train.drop('ID_code', axis = 1)
#X_test = X_test.drop('ID_code', axis = 1)


constant_filter = VarianceThreshold(threshold = 0.01)
constant_filter.fit(X_train)
X_train_filter = constant_filter.transform(X_train)
X_test_filter = constant_filter.transform(X_test)

In [50]:
X_train.head(10)

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
145093,145093,11.0370,-3.2137,10.9388,9.9874,9.1885,3.1792,4.1829,12.0607,-1.6513,...,-1.5037,4.5094,1.2171,-0.9977,16.5439,-1.0890,-7.9122,8.1754,17.7177,-25.9255
13504,13504,12.2279,-2.4819,7.4456,5.7189,11.7303,-17.0179,6.8332,18.1897,-2.7370,...,13.0696,10.2908,0.0463,1.6916,17.1970,1.0153,6.6183,8.2539,12.8997,-16.1804
93753,93753,8.0768,-2.1109,14.0445,4.8194,11.2920,5.5909,5.1935,16.7341,-0.2509,...,9.7881,4.7518,1.4404,0.0288,20.8458,-0.6618,2.9584,8.4430,17.3407,6.4982
199587,199587,9.3901,-0.1780,13.4076,9.3377,13.3042,-3.3978,4.3712,12.7235,-2.4796,...,0.2085,3.5905,1.4694,3.4599,15.6980,2.9689,-0.2746,9.2167,14.7515,-12.0230
72772,72772,6.6899,-5.3860,11.3325,8.4539,10.0087,-7.5870,6.1749,21.6901,-1.4017,...,3.1676,7.7182,3.6927,-1.2069,22.1001,-0.5987,-2.8660,7.9007,14.8581,-8.8469
33061,33061,7.9080,-1.7424,13.2503,5.1673,10.1581,-8.4216,5.4638,16.1573,-4.5801,...,-1.9917,9.1404,-0.5130,7.3805,17.8450,0.9493,4.4685,8.9533,12.5138,-22.6029
33010,33010,8.7673,2.4973,7.6060,5.5197,10.9111,0.5965,6.1269,19.8432,0.1871,...,-3.0508,6.2547,1.7200,-0.8330,14.4260,0.3514,4.5969,9.0978,12.1934,1.6260
51478,51478,15.2717,5.3008,15.2108,6.8138,12.4477,-8.8459,4.1792,14.7677,5.3713,...,6.2543,9.3866,2.4845,0.6854,19.8226,-0.1782,4.6430,10.1444,15.8617,-15.3352
140613,140613,11.6651,-10.4734,8.4956,8.2589,11.9176,6.9439,5.4805,14.6427,-5.7456,...,5.2875,5.2601,-0.3998,3.7071,19.8589,1.1577,-0.4637,9.1990,11.3289,-18.5510
98395,98395,7.0235,-5.8566,9.6831,5.9365,12.0265,-2.9582,6.3067,14.0535,-0.7295,...,-1.0741,5.4068,1.9009,5.5514,17.4012,0.3502,-0.0271,8.2833,16.9999,-10.7929

In [51]:
pd.DataFrame(X_train_filter)

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,145093,11.037,-3.2137,10.9388,9.9874,9.1885,3.1792,4.1829,12.0607,-1.6513,...,-1.5037,4.5094,1.2171,-0.9977,16.5439,-1.089,-7.9122,8.1754,17.7177,-25.9255
1,13504,12.2279,-2.4819,7.4456,5.7189,11.7303,-17.0179,6.8332,18.1897,-2.737,...,13.0696,10.2908,0.0463,1.6916,17.197,1.0153,6.6183,8.2539,12.8997,-16.1804
2,93753,8.0768,-2.1109,14.0445,4.8194,11.292,5.5909,5.1935,16.7341,-0.2509,...,9.7881,4.7518,1.4404,0.0288,20.8458,-0.6618,2.9584,8.443,17.3407,6.4982
3,199587,9.3901,-0.178,13.4076,9.3377,13.3042,-3.3978,4.3712,12.7235,-2.4796,...,0.2085,3.5905,1.4694,3.4599,15.698,2.9689,-0.2746,9.2167,14.7515,-12.023
4,72772,6.6899,-5.386,11.3325,8.4539,10.0087,-7.587,6.1749,21.6901,-1.4017,...,3.1676,7.7182,3.6927,-1.2069,22.1001,-0.5987,-2.866,7.9007,14.8581,-8.8469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159995,21140,11.4101,3.4915,9.6043,6.7891,8.633,-2.6196,4.5255,14.4933,-1.0908,...,1.911,3.9014,-0.3556,5.8361,16.2231,1.455,10.7124,7.9994,16.1258,-1.9515
159996,175248,8.539,-1.5835,8.1264,4.3088,11.9141,0.4288,7.0429,21.2046,4.2118,...,-1.0825,10.0793,0.0323,-0.4901,12.8222,0.1898,7.7541,9.8883,15.6734,8.0618
159997,84298,8.5121,-8.7991,15.3054,5.8419,9.2416,-12.3377,6.2842,16.0008,-4.0411,...,-5.699,5.0167,2.6219,8.8168,14.6054,0.3803,2.2764,8.7903,16.1588,-2.372
159998,18421,9.4772,4.7097,9.7111,5.9993,10.271,13.224,6.0957,9.6122,-2.6127,...,3.627,14.8312,4.6433,10.3408,17.3644,-1.7023,10.2745,8.6868,11.7089,-7.8919
159999,188452,10.2653,4.0408,8.8575,7.4116,10.4671,5.0774,5.9696,18.0746,6.7791,...,5.1393,9.5714,-0.2333,0.3961,20.2151,2.4247,2.6902,9.7318,16.1768,2.4485

In [52]:
X_train_T = X_train_filter.T
X_test_T = X_test_filter.T

X_train_T = pd.DataFrame(X_train_T)
X_test_T = pd.DataFrame(X_test_T)

In [55]:
X_train_T.shape

(200, 160000)

In [56]:
X_train_T.duplicated().sum()

# Zero rows are duplicating

0

In [57]:
duplicated_features = X_train_T.duplicated()

In [58]:
features_to_keep = [not index for index in duplicated_features]

X_train_unique = X_train_T[features_to_keep].T
X_test_unique = X_test_T[features_to_keep].T

X_train_unique.shape, X_test_unique.shape

((160000, 200), (40000, 200))

## Calculate the MI

In [60]:
mi = mutual_info_classif(X_train_unique, y_train)

In [61]:
len(mi)

200

## Higher mutual information means higher importance of the features

In [62]:
mi

array([0.00000000e+00, 1.75323137e-03, 1.68727864e-03, 2.93355345e-03,
       6.49809644e-04, 0.00000000e+00, 1.69521363e-03, 1.04077103e-03,
       5.06644601e-04, 3.25491710e-05, 1.53405756e-03, 7.07694029e-04,
       0.00000000e+00, 4.08934820e-03, 1.41399272e-03, 0.00000000e+00,
       4.51734690e-04, 6.44599831e-04, 0.00000000e+00, 8.77228257e-04,
       5.43521972e-04, 0.00000000e+00, 2.22845597e-03, 2.41697495e-03,
       3.45897782e-04, 1.09200076e-03, 0.00000000e+00, 2.90855071e-03,
       1.32858358e-03, 0.00000000e+00, 1.13820865e-03, 0.00000000e+00,
       4.03405296e-04, 1.34738869e-03, 5.47861101e-04, 1.85426344e-03,
       1.66417074e-04, 5.72065652e-04, 1.81671738e-03, 0.00000000e+00,
       0.00000000e+00, 2.15240704e-03, 1.05035036e-03, 0.00000000e+00,
       5.13630946e-04, 2.68364168e-03, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 2.00782193e-04, 0.00000000e+00, 1.23784955e-03,
       5.66025312e-04, 2.70271238e-04, 2.71152622e-03, 7.13448223e-04,
       4.53827952e-04, 1.30595194e-04, 5.39665985e-04, 2.59262673e-04,
       5.30048098e-04, 2.47216625e-04, 0.00000000e+00, 5.95690687e-04,
       9.97861808e-04, 0.00000000e+00, 0.00000000e+00, 1.77091281e-04,
       6.54393327e-04, 1.22409195e-03, 0.00000000e+00, 1.57095849e-04,
       0.00000000e+00, 0.00000000e+00, 3.78367447e-04, 8.43260582e-04,
       4.71924701e-04, 4.23453441e-04, 2.26469488e-03, 0.00000000e+00,
       4.94369538e-03, 4.33150238e-03, 1.45463726e-03, 1.65348873e-03,
       0.00000000e+00, 9.07738935e-04, 7.05874862e-04, 5.37760168e-04,
       5.44050788e-05, 0.00000000e+00, 2.80814915e-04, 1.08658720e-03,
       2.01168586e-03, 8.30238096e-04, 8.85871798e-04, 5.24034017e-04,
       0.00000000e+00, 1.55603644e-03, 0.00000000e+00, 2.32928290e-03,
       6.87192282e-04, 0.00000000e+00, 5.93192642e-04, 0.00000000e+00,
       0.00000000e+00, 9.39797274e-04, 4.23113792e-04, 2.26103184e-03,
       1.73408555e-03, 1.16734975e-03, 2.25337748e-03, 0.00000000e+00,
       6.80680997e-04, 3.95696875e-04, 2.54310859e-04, 8.61759719e-04,
       6.62117645e-04, 0.00000000e+00, 2.73643040e-03, 1.35382606e-03,
       0.00000000e+00, 1.53474019e-03, 5.25166178e-04, 2.14949370e-03,
       9.32766501e-04, 0.00000000e+00, 2.15077228e-04, 1.04845002e-03,
       7.74760278e-04, 3.40968459e-04, 2.89210172e-04, 4.88508468e-04,
       3.06649076e-04, 3.01605035e-03, 1.56818420e-04, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.71435265e-03,
       0.00000000e+00, 2.32684903e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 3.44679580e-04, 2.90891690e-03, 1.97516695e-03,
       1.81513287e-03, 7.14430012e-04, 3.97648474e-05, 9.47626285e-04,
       8.39170659e-04, 0.00000000e+00, 4.23483858e-04, 7.81798324e-04,
       0.00000000e+00, 9.77190568e-04, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.23718197e-04, 7.59948455e-04,
       1.70423111e-03, 2.72219394e-03, 2.68151787e-03, 4.84974677e-04,
       7.69995651e-04, 1.74766253e-03, 8.61504830e-04, 5.69126955e-04,
       6.34268535e-04, 0.00000000e+00, 1.82265405e-03, 0.00000000e+00,
       0.00000000e+00, 2.07558263e-03, 0.00000000e+00, 5.77255030e-04,
       5.15134378e-04, 0.00000000e+00, 6.30220205e-04, 0.00000000e+00,
       1.34256041e-03, 8.62526095e-04, 1.81574811e-05, 0.00000000e+00,
       5.11864943e-04, 0.00000000e+00, 1.03246518e-03, 2.60219485e-03,
       1.37707841e-03, 0.00000000e+00, 0.00000000e+00, 2.06267155e-04,
       9.40676585e-05, 3.41067598e-04, 1.21476695e-03, 1.17263486e-03])

In [63]:
mi = pd.Series(mi)
mi.index = X_train_unique.columns

In [64]:
mi.sort_values(ascending = False, inplace = True)

In [70]:
mi.head(5)

80     0.004944
81     0.004332
13     0.004089
139    0.003714
133    0.003016
dtype: float64

In [ ]:
sel = SelectPercentile(mutual_info_classif, percentile = 10).fit(X_train_unique, y_train)
X_train_unique.columns[sel.get_support()]

In [ ]:
help(sel)

In [ ]:
X_train_mi = sel.transform(X_train_unique)
X_test_mi = sel.transform(X_test_unique)

In [ ]:
X_train_mi.shape

## Build the model and compare the performance

In [ ]:
def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators = 100, random_state = 10, n_jobs = -1)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print('Accuracy on Test set: ')
    print(accuracy_score(y_test, y_pred))