<a href="https://colab.research.google.com/github/msa9493/Machine-Learning/blob/master/Wine_quality_classification_NN%20TF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
print(tf.__version__)

2.0.0

In [0]:
!pip install tensorflow==2.0

Collecting tensorflow==2.0
  Using cached https://files.pythonhosted.org/packages/46/0f/7bd55361168bb32796b360ad15a25de6966c9c1beb58a8e30c01c8279862/tensorflow-2.0.0-cp36-cp36m-manylinux2010_x86_64.whl
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.9.0)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.0.8)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.1.0)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.12.1)
Collecting tensorboard<2.1.0,>=2.0.0
  Using cached https://files.pythonhosted.org/packages/76/54/99b9d5d52d5cb732f099baaaf7740403e83fe6b0cedde940fabd2b13d75a/tensorboard-2.0.2-py3-none-any.whl
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.24.3)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.12.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.1.0)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.2.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (1.18.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (3.2.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.2.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.34.2)
Collecting tensorflow-estimator<2.1.0,>=2.0.0
  Using cached https://files.pythonhosted.org/packages/fc/08/8b927337b7019c374719145d1dceba21a8bb909b93b1ad6f8fb7d22c1ca1/tensorflow_estimator-2.0.1-py2.py3-none-any.whl
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0) (0.8.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.0) (2.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.4.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.2.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.7.2)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (46.0.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.0.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.21.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.3.0)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.1)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0) (0.4.8)
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow~=2.1.0, but you'll have tensorflow 2.0.0 which is incompatible.
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow-addons~=0.7.0, but you'll have tensorflow-addons 0.8.3 which is incompatible.
Installing collected packages: tensorboard, tensorflow-estimator, tensorflow
  Found existing installation: tensorboard 1.15.0
    Uninstalling tensorboard-1.15.0:
      Successfully uninstalled tensorboard-1.15.0
  Found existing installation: tensorflow-estimator 1.15.1
    Uninstalling tensorflow-estimator-1.15.1:
      Successfully uninstalled tensorflow-estimator-1.15.1
  Found existing installation: tensorflow 1.15.0
    Uninstalling tensorflow-1.15.0:
      Successfully uninstalled tensorflow-1.15.0
Successfully installed tensorboard-2.1.1 tensorflow-2.1.0 tensorflow-estimator-2.1.0

In [0]:
from google.colab import files
uploaded = files.upload()

Saving wineQualityReds.csv to wineQualityReds.csv
Saving wineQualityWhites.csv to wineQualityWhites.csv

In [0]:
import pandas as pd
import numpy as np
import io

red = pd.read_csv(io.StringIO(uploaded["wineQualityReds.csv"].decode('utf-8')))
white = pd.read_csv(io.StringIO(uploaded["wineQualityWhites.csv"].decode('utf-8')))
#white = pd.read_csv("C:/Users/zenit/Desktop/Northeastern University/Datasets/Wine Quality/wineQualityWhites.csv")

In [0]:
white

      Unnamed: 0  fixed.acidity  volatile.acidity  ...  sulphates  alcohol  quality
0              1            7.0              0.27  ...       0.45      8.8        6
1              2            6.3              0.30  ...       0.49      9.5        6
2              3            8.1              0.28  ...       0.44     10.1        6
3              4            7.2              0.23  ...       0.40      9.9        6
4              5            7.2              0.23  ...       0.40      9.9        6
...          ...            ...               ...  ...        ...      ...      ...
4893        4894            6.2              0.21  ...       0.50     11.2        6
4894        4895            6.6              0.32  ...       0.46      9.6        5
4895        4896            6.5              0.24  ...       0.46      9.4        6
4896        4897            5.5              0.29  ...       0.38     12.8        7
4897        4898            6.0              0.21  ...       0.32     11.8        6

[4898 rows x 13 columns]

In [0]:
print(red.info())

print(white.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
Unnamed: 0              1599 non-null int64
fixed.acidity           1599 non-null float64
volatile.acidity        1599 non-null float64
citric.acid             1599 non-null float64
residual.sugar          1599 non-null float64
chlorides               1599 non-null float64
free.sulfur.dioxide     1599 non-null float64
total.sulfur.dioxide    1599 non-null float64
density                 1599 non-null float64
pH                      1599 non-null float64
sulphates               1599 non-null float64
alcohol                 1599 non-null float64
quality                 1599 non-null int64
dtypes: float64(11), int64(2)
memory usage: 162.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
Unnamed: 0              4898 non-null int64
fixed.acidity           4898 non-null float64
volatile.acidity        4898 non-null float64
citric.acid             4898 non-null float64
residual.sugar          4898 non-null float64
chlorides               4898 non-null float64
free.sulfur.dioxide     4898 non-null float64
total.sulfur.dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(2)
memory usage: 497.6 KB
None

In [0]:
red.describe()

        Unnamed: 0  fixed.acidity  ...      alcohol      quality
count  1599.000000    1599.000000  ...  1599.000000  1599.000000
mean    800.000000       8.319637  ...    10.422983     5.636023
std     461.735855       1.741096  ...     1.065668     0.807569
min       1.000000       4.600000  ...     8.400000     3.000000
25%     400.500000       7.100000  ...     9.500000     5.000000
50%     800.000000       7.900000  ...    10.200000     6.000000
75%    1199.500000       9.200000  ...    11.100000     6.000000
max    1599.000000      15.900000  ...    14.900000     8.000000

[8 rows x 13 columns]

In [0]:
white.describe()

        Unnamed: 0  fixed.acidity  ...      alcohol      quality
count  4898.000000    4898.000000  ...  4898.000000  4898.000000
mean   2449.500000       6.854788  ...    10.514267     5.877909
std    1414.075139       0.843868  ...     1.230621     0.885639
min       1.000000       3.800000  ...     8.000000     3.000000
25%    1225.250000       6.300000  ...     9.500000     5.000000
50%    2449.500000       6.800000  ...    10.400000     6.000000
75%    3673.750000       7.300000  ...    11.400000     6.000000
max    4898.000000      14.200000  ...    14.200000     9.000000

[8 rows x 13 columns]

In [0]:
pd.isnull(red).any().any()

False

In [0]:
pd.isnull(white).any().any()

False

In [0]:
red['type'] = 1
white['type'] = 0

wines = red.append(white, ignore_index = True)

wines.tail()

      Unnamed: 0  fixed.acidity  volatile.acidity  ...  alcohol  quality  type
6492        4894            6.2              0.21  ...     11.2        6     0
6493        4895            6.6              0.32  ...      9.6        5     0
6494        4896            6.5              0.24  ...      9.4        6     0
6495        4897            5.5              0.29  ...     12.8        7     0
6496        4898            6.0              0.21  ...     11.8        6     0

[5 rows x 14 columns]

In [0]:
wines

      Unnamed: 0  fixed.acidity  volatile.acidity  ...  alcohol  quality  type
0              1            7.4              0.70  ...      9.4        5     1
1              2            7.8              0.88  ...      9.8        5     1
2              3            7.8              0.76  ...      9.8        5     1
3              4           11.2              0.28  ...      9.8        6     1
4              5            7.4              0.70  ...      9.4        5     1
...          ...            ...               ...  ...      ...      ...   ...
6492        4894            6.2              0.21  ...     11.2        6     0
6493        4895            6.6              0.32  ...      9.6        5     0
6494        4896            6.5              0.24  ...      9.4        6     0
6495        4897            5.5              0.29  ...     12.8        7     0
6496        4898            6.0              0.21  ...     11.8        6     0

[6497 rows x 14 columns]

In [0]:
import seaborn as sns
sns.pairplot(wines, diag_kind = 'kde', hue = 'type')

In [0]:
from sklearn.model_selection import train_test_split

X = wines.iloc[:,0:11]

y = np.ravel(wines.type)

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [0]:
X_train.size

57167

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)

X_train = scaler.transform(X_train)

X_test = scaler.transform(X_test)

In [0]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from keras.layers.advanced_activations import ReLU

#Initialize the constructor
model = Sequential()

#Add an input layer
model.add(Dense(30, activation = 'relu', input_shape = (11,)))
model.add(Dense(20, activation = 'relu'))

#Add output layer
model.add(Dense(1, activation = 'sigmoid'))

In [0]:
model.compile(loss = 'binary_crossentropy',
              optimizer = 'sgd',
              metrics = ['accuracy'])

epoch = 20
batch_size = 57167

In [0]:
model.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_25 (Dense)             (None, 30)                360
_________________________________________________________________
dense_26 (Dense)             (None, 20)                620
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 21
=================================================================
Total params: 1,001
Trainable params: 1,001
Non-trainable params: 0
_________________________________________________________________

In [0]:
history = model.fit(X_train, y_train, batch_size = batch_size, epochs = epoch, validation_split = 0.3, verbose = True)

loss,accuracy = model.evaluate(X_test, y_test, verbose= False)

Train on 3637 samples, validate on 1560 samples
Epoch 1/20
3637/3637 [==============================] - 0s 122us/sample - loss: 0.7330 - accuracy: 0.5714 - val_loss: 0.7113 - val_accuracy: 0.6071
Epoch 2/20
3637/3637 [==============================] - 0s 7us/sample - loss: 0.7282 - accuracy: 0.5782 - val_loss: 0.7068 - val_accuracy: 0.6154
Epoch 3/20
3637/3637 [==============================] - 0s 7us/sample - loss: 0.7235 - accuracy: 0.5834 - val_loss: 0.7024 - val_accuracy: 0.6205
Epoch 4/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.7189 - accuracy: 0.5917 - val_loss: 0.6980 - val_accuracy: 0.6250
Epoch 5/20
3637/3637 [==============================] - 0s 5us/sample - loss: 0.7143 - accuracy: 0.5980 - val_loss: 0.6936 - val_accuracy: 0.6308
Epoch 6/20
3637/3637 [==============================] - 0s 5us/sample - loss: 0.7098 - accuracy: 0.6038 - val_loss: 0.6893 - val_accuracy: 0.6372
Epoch 7/20
3637/3637 [==============================] - 0s 5us/sample - loss: 0.7053 - accuracy: 0.6076 - val_loss: 0.6851 - val_accuracy: 0.6429
Epoch 8/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.7010 - accuracy: 0.6142 - val_loss: 0.6809 - val_accuracy: 0.6481
Epoch 9/20
3637/3637 [==============================] - 0s 5us/sample - loss: 0.6966 - accuracy: 0.6200 - val_loss: 0.6768 - val_accuracy: 0.6564
Epoch 10/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6923 - accuracy: 0.6252 - val_loss: 0.6727 - val_accuracy: 0.6577
Epoch 11/20
3637/3637 [==============================] - 0s 5us/sample - loss: 0.6881 - accuracy: 0.6324 - val_loss: 0.6687 - val_accuracy: 0.6635
Epoch 12/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6839 - accuracy: 0.6365 - val_loss: 0.6647 - val_accuracy: 0.6712
Epoch 13/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6798 - accuracy: 0.6423 - val_loss: 0.6608 - val_accuracy: 0.6737
Epoch 14/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6758 - accuracy: 0.6472 - val_loss: 0.6570 - val_accuracy: 0.6782
Epoch 15/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6718 - accuracy: 0.6533 - val_loss: 0.6531 - val_accuracy: 0.6846
Epoch 16/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6678 - accuracy: 0.6577 - val_loss: 0.6494 - val_accuracy: 0.6897
Epoch 17/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6639 - accuracy: 0.6624 - val_loss: 0.6456 - val_accuracy: 0.6949
Epoch 18/20
3637/3637 [==============================] - 0s 7us/sample - loss: 0.6600 - accuracy: 0.6665 - val_loss: 0.6419 - val_accuracy: 0.6987
Epoch 19/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6562 - accuracy: 0.6712 - val_loss: 0.6383 - val_accuracy: 0.7051
Epoch 20/20
3637/3637 [==============================] - 0s 6us/sample - loss: 0.6525 - accuracy: 0.6756 - val_loss: 0.6347 - val_accuracy: 0.7096

In [0]:
y_pred = np.round(model.predict(X_test))

y_pred[0:10]

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]], dtype=float32)

In [0]:
loss, acc = model.evaluate(X_test,  y_test, verbose = 0)
print('Test accuracy: %.3f' %acc)

loss, acc = model.evaluate(X_train, y_train, verbose = 0)
print('Train accuracy: %.3f' %acc)

Test accuracy: 0.676
Train accuracy: 0.689

In [0]:
from sklearn import metrics

print(pd.DataFrame(metrics.confusion_matrix(y_test, y_pred, labels = [0,1])))

In [0]:
i